# PYTHON DATA TYPES // (14) - INBUILD DATA TYPES -
# Type casting or Type conversion
# Fundamental datatypes vs Immutability

In [1]:
'''1>int 
2>float 
3>complex 
4>bool 
5>str 
6>bytes 
7>bytearray DATA STRUCTURE ---> 
8>range 
9>list 
10>tuple 
11>set 
12>frozenset 
13>dict 
14>None'''

#python provides some inbuild function like -- <1> print() <2> type() <3> id()

#int,float,complex,boolen is not represent object # Tricky question

#except these 4 everythig object # Tricky question
#NOTE - [**In python all 14 data types are object only]Thats why we called as python is object oriented program

'1>int \n2>float \n3>complex \n4>bool \n5>str \n6>bytes \n7>bytearray DATA STRUCTURE ---> \n8>range \n9>list \n10>tuple \n11>set \n12>frozenset \n13>dict \n14>None'

In [2]:
'hello world'

'hello world'

In [3]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
a

10

In [4]:
#print(a)       # To find the variable

In [5]:
#print(a)         # To find the value of variable
#type(a) # To find the data type
#id(a)            # To find an address of an object
#type(a)

In [6]:
id(a)

2266964847184

In [7]:
b = 10
id(b)

2266964847184

In [8]:
c = 20
id(c)

2266964847504

In [9]:
a = 10

In [10]:
b = 10

In [11]:
id(a)

2266964847184

In [12]:
a = 10
a

10

In [13]:
id(a)

2266964847184

# Integer Datatype -
 *INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES *int datatype how many ways represent values in 3ways -



2> Binary form --- (Base-2) -- (0,1) 3> Octal form --- (Base-8) -- (0,7)

In [14]:
a=1111
a

1111

In [16]:
type(a)

int

In [17]:
id(a)

2267042170832

In [18]:
#2.Binary form(Base 2)
#a = 1111   # value is declared

In [19]:
b = 0b1111 # Now pvm convert value to binary value
b

15

In [20]:
#a
bin(15)

'0b1111'

In [21]:
b_1 = 0b11
b_1

3

In [22]:
bin(b_1)

'0b11'

In [23]:
b_ = 0b1
b_

1

In [24]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (Temp/ipykernel_764/3245495910.py, line 1)

In [25]:
b1 = 111
b1

111

In [26]:
c = 0b111
c

7

In [27]:
b3 = 0b2
b3

SyntaxError: invalid digit '2' in binary literal (Temp/ipykernel_764/707794346.py, line 1)

In [28]:
True/False

ZeroDivisionError: division by zero

In [29]:
b = 0b10 # Now pvm convert value to binary value
b

2

In [30]:
c = 0b100
c

4

In [31]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o11 # Now pvm covert value to octal value
b1

9

In [32]:
#a
i = 0b22

SyntaxError: invalid digit '2' in binary literal (Temp/ipykernel_764/1115099644.py, line 2)

In [33]:
i1 = 0o22
i1

18

In [34]:
b2 = 0o27
b2

23

In [35]:
# final summary of INTEGRAL DATATYPES 
a = 10

In [36]:
b = 0b10

In [37]:
c = 0o100

In [38]:
a
b
c

64

In [39]:
c1 = 0O33
c1

27

In [40]:
b
c

64

In [41]:
A = 78
type(A)

int

In [47]:
a1 = 4809
#a
#print(a)
type(a1)

int

In [48]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b111 # Now pvm convert value to binary value
b
#a

7

In [49]:
b_1 = 0b11
b_1

3

In [50]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (Temp/ipykernel_764/3245495910.py, line 1)

In [51]:
b1 = 111
b1

111

In [52]:
c = 0b1111
c

15

In [53]:
b3 = 0b222

SyntaxError: invalid digit '2' in binary literal (Temp/ipykernel_764/3363899208.py, line 1)

In [54]:
b = 0b11 # Now pvm convert value to binary value
b

3

In [55]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o111 # Now pvm covert value to octal value
b1
#a

73

In [56]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o100
a
b
c

64

In [57]:
c1 = 0o33
c1

27

In [58]:
b

2

In [59]:
c

64

# float datatypes -
employee sal - 5676.76diesel price - 67.25

These values are not integral value this is called as decimal value
Floating datatype you cannot declare Binary,Octal & Hexadecimal because python enterpretur not accept that
In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in float datatypes & only letter 'e' can allowed

In [42]:
b = 67.9
print(b)

67.9

In [43]:
type(b)

float

In [44]:
b1 = 0b1.1
b1

SyntaxError: invalid syntax (Temp/ipykernel_764/808406421.py, line 1)

In [45]:
c = 0o11.6
c

SyntaxError: invalid syntax (Temp/ipykernel_764/3270742341.py, line 1)

In [60]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0o456789 # This is binary
d
#e
#b

SyntaxError: invalid syntax (Temp/ipykernel_764/2124913177.py, line 7)

In [61]:
b = 67.9
b
type(b)

float

In [62]:
b1 = 0b1
b1

1

In [63]:
c = 0o11.6
c

SyntaxError: invalid syntax (Temp/ipykernel_764/3270742341.py, line 1)

In [64]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0b4567.89 # This is binary
d
#e
#b

SyntaxError: invalid syntax (Temp/ipykernel_764/3366244376.py, line 7)

In [65]:
f1 = 1E1
f1
#type(f1)

10.0

In [66]:
#f = 1e4# only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
g
#f
#type(g)

2400.0

In [67]:
g = 2.4E3
g

2400.0

In [68]:
g1 = 23e3
g1

23000.0

In [ ]:
e = 5.e3
#type(e) 
e

# complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [69]:
x = 30+40j #assigned int value in real part & imaginary part
x
type(x)

complex

In [70]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
y + z
y*z
y/z

(0.5022837821805671-0.25148297544192666j)

In [93]:
y-z

(-10.3-17.7j)

In [94]:
y*z

(585.4+480.84j)

In [96]:
y/z

(1+0j)

In [71]:
c = 15+0b111j # Imaginary part cannot be binary,octal
#d = 0b11+15j # Real part can be binary,octal
c
#d

SyntaxError: invalid syntax (Temp/ipykernel_764/2166187284.py, line 1)

In [72]:
d2 = 0b111+15j
d2

(7+15j)

In [73]:
e1 = 4 + 15a
e1

SyntaxError: invalid syntax (Temp/ipykernel_764/1489874699.py, line 1)

In [74]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [75]:
a = 2+3J
type(a)

complex

In [76]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

# bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [77]:
a = 10
b = 20
c = a>b
c

False

In [78]:
True+True
True*True
True-True
True/True
False+False
False+True
True/False

ZeroDivisionError: division by zero

In [79]:
True/True

1.0

In [80]:
True/False # error

ZeroDivisionError: division by zero

# str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [84]:
hemangi = '''good for datascience'''
hemangi
type(hemangi)

str

In [85]:
hemangi = '''good for datascience'''
#type(careerera)#' single quotes'
hemangi
type(hemangi)

str

In [86]:
hemangi2 = '''good 
             for datascience'''
#type(careerera)#' single quotes'
hemangi2
#type(hemangi)

'good \n             for datascience'

In [87]:
hemangi = '''good for datascience'''
#type(careerera)#' single quotes'
hemangi
#type(hemangi)

'good for datascience'

In [88]:
hemangi1 = '''good for 
 datascience'''
#type(hemangi1)
hemangi

'good for datascience'

In [89]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare \nyou'

In [90]:
b = '''hello 
    hi'''
b

'hello \n    hi'

In [91]:
# single quote & double both are equl
# ''' multiline comment'''

In [92]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

"('hallo' \n  'how'\n    'are you')"

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [97]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
int('ten') # amx is a character

ValueError: invalid literal for int() with base 10: 'ten'

In [98]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

11.0

In [99]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)     # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [100]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(-10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+1j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

True

In [101]:
bool(-10)

True

In [102]:
bool(0+1j)

True

In [103]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

'(10+20j)'

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
- We cannot convert our complex data types to int and float
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [104]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

2266964847184
2266964847184
2266964847504

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
1> int ----> 0 to 256
2> bool ---> Always 
3> str ----> Always
4> float & complex ----> Can not performe the reusable concept

In [105]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

2266964847184
2266964847184

In [106]:
id(y)

2266964847184

In [107]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [108]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False